<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.bottom">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- android:icon="@mipmap/ic_launcher" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_delivery"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".atys.AtyLogin" />
        <activity android:name=".atys.AtyAddress" />
        <activity android:name=".atys.AtyTimeline" />
        <activity android:name=".atys.AtyMessage" />
        <activity android:name=".atys.AtyPubMessage" />
        <activity android:name=".atys.AtyMainFrame" />
        <activity android:name=".atys.AtyTest" />
        <activity android:name=".atys.AtyLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".atys.AtyFetch" />
        <activity android:name=".atys.AtyMail" />
        <activity android:name=".atys.AtyAddressMng" />
        <activity android:name=".atys.AtyAgreement"></activity>
        <activity android:name=".atys.AtyLocateSchool"></activity>
    </application>

</manifest>